fastapi
uvicorn
sentence-transformers==2.2.2
faiss-cpu==1.7.4
langchain==0.0.350
langchain-openai
openai
PyMuPDF>=1.24.9
python-docx
requests
nltk
streamlit==1.28.2
streamlit-extras
pydantic==2.5.0
python-multipart==0.0.6
python-dotenv==1.0.0
pandas==2.1.3
numpy==1.24.3
transformers==4.35.2
torch==2.5.0
chromadb==0.4.18
PyPDF2==3.0.1
mangum
