mangum
fastapi
uvicorn
sentence-transformers
faiss-cpu
langchain
langchain-openai
openai
PyMuPDF>=1.24.9
python-docx
requests
nltk
streamlit
streamlit-extras
pydantic
python-multipart
python-dotenv
pandas
numpy
transformers
torch
chromadb
PyPDF2